---
import Logo from "./Logo";
import GithubButton from "./GithubButton";
import BurgerMenu from "./BurgerMenu";
import NavItem from "./NavItem.astro";
---

<header class="flex justify-between items-center h-24">
  <section class="flex">
    <Logo />
  </section>
  <section class="lg:flex items-center space-x-8 hidden">
    <nav
      class="flex text-slate-500 relative justify-center text-base font-medium space-x-8"
    >
      <NavItem href="/builder">Builder</NavItem>
      <NavItem href="/community">Community queries</NavItem>
      <NavItem href="/about">About</NavItem>
    </nav>
    <div class="lg:border-r py-4"></div>
    <div class="justify-end">
      <GithubButton />
    </div>
  </section>
  <section class="relative z-50 lg:hidden flex items-center space-x-4">
    <GithubButton />
    <BurgerMenu client:media="(max-width: 1024px)" />
  </section>
</header>
