---
import Logo from "./Logo.astro";
import GithubButton from "./GithubButton.astro";
import BurgerMenu from "./BurgerMenu";
---

<header class="flex justify-between items-center h-24">
  <section class="flex">
    <a href="/">
      <Logo />
    </a>
  </section>
  <section class="lg:flex items-center space-x-8 hidden">
    <nav
      class="flex text-slate-500 relative justify-center text-base font-medium space-x-8"
    >
      <a href="/builder" class="hover:text-slate-700">Builder</a>
      <a href="/community" class="hover:text-slate-700">Community queries</a>
      <a href="/about" class="hover:text-slate-700">About</a>
    </nav>
    <div class="lg:border-r py-4"></div>
    <div class="justify-end">
      <GithubButton />
    </div>
  </section>
  <section class="relative z-50 lg:hidden flex items-center space-x-4">
    <GithubButton />
    <BurgerMenu client:media="(max-width: 1024px)" />
  </section>
</header>
