---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Prueba tecnica">
	<main>
    <h1 class="font-6xl text-cyan-200">Tech+ FellowShip</h1>
	</main>
</Layout>

