---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Tech+ FellowShip Test2" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="scroll-auto antialiased">
    <div class="flex flex-col max-w-7xl min-h-screen mx-auto px-5 sm:px-8">
      <Header />
      <main>
        <slot />
      </main>
      <footer
        class="text-blue-600 flex-1 flex items-end justify-center font-mono text-xs md:text-sm"
      >
        Hecho con&ensp;<span class="text-red-500">❤</span>&ensp;por&ensp;<a
          href="https://github.com/RABrL"
          target="_blank"
          rel="noreferrer">Andres Brito</a
        >
      </footer>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #fff;
    background-size: 224px;
    color-scheme: dark light;
    color: black;
  }
</style>
