---
import Layout from "@/layouts/Layout.astro";
import {queryStackOverflow} from "@/services/bigquery.ts"

queryStackOverflow()
---

<Layout title="Query Builder">
  <h1>Query Builder</h1>
  <p>Coming soon...</p>
</Layout>
