---
import QueryForm from "@/components/QueryForm";
import Layout from "@/layouts/Layout.astro";
import { queryStackOverflow } from "@/services/queryBuilder";
---

<Layout title="Query Builder">
  <QueryForm client:load />
  <p>Coming soon...</p>
</Layout>
